﻿body {
    background-color: #eee;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
    font-family: sans-serif;
}

.textBox{
    height: 15px;
    width: 120px;
    border-radius: 3px;
    border: medium 2px;
    box-sizing: content-box;
    padding: 1px;
    margin-bottom: 5px;
}

.button{
    height: 30px;
    width: 80px;
    border: 1px solid;
}

.table{
    background: white;
    border-radius: 5px;
    border-collapse: collapse;
    width: 800px;
}

.table td {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background:#FFFFFF;
  padding: 3px;
  text-align: center;
  vertical-align:middle;
  border: 1px solid #C1C3D1;
}

.table tr:first-child td{
    background: #ff3300;
    color: white;
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}