﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WebForm.aspx.cs" Inherits="WebForm" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Domino Sekų Ieškojimas</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <br />
    
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Vykdyti!" Width="120px" />
        <asp:Table ID="Table1" runat="server" style="margin-right: 4px;" BorderColor="Black" BorderStyle="Solid" BorderWidth="2px" Width="120px" BackColor="White" Height="200px">
        </asp:Table>
    
    </div>
    </form>
</body>
</html>
